<%= erb(:header, :layout => false) %>

<% @gallery = ArtsGalleryApi::Gallery.new %>

<form action="ticket.asp" method="get">
  Name: <input type="text" name="fname"><br>
  Time: <input type="text" name="time"><br>
  <input type="submit" value="Submit">
</form>