* {
	font-family: 'PT Sans Narrow', sans-serif;
}

body {
	font-size: 20px;
  background-image:url('/img/congruent_outline.png');
}


h1 {
	font-family: 'Oswald', sans-serif;
	color: rgb(66, 139, 202);
}

.container {
	color: #e8e9e9;
  border-radius: 7.5px;
}

.container p {
	margin: 0 0 0 0; 
}

.modal-content {
	color: #444;
	padding: 10px
}
.gallery {
  text-align: center;
}

.info {
  background:#e8e9e9; 
  color: #444;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0 0 0; 
}
.info:before {
  margin:;
}

.gallery img {
  width: 80%;
  border: 1px solid #e8e9e9;
  height: 300px;
}

.navbar {
  border-radius: 0px;
}